@import url("antd/dist/antd.css");
@import url("react-static-tweets/styles.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f0fb !important;
}

.home__container {
  max-width: 800px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.flex-2 {
  flex: 2 1 0%;
}

@media screen and (max-width: 575px) {
  .verified div {
    padding: 0 10px 0 0 !important;
  }
}

button {
  outline: none !important;
}

ul {
  list-style: disc;
}

.ant-modal-content {
  border-radius: 10px;
}
.ant-modal-close span {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

@media screen and (max-width: 500px) {
  .addResourceButton {
    width: 64px !important;
  }
  .addResourceButton > span {
    display: none;
  }
}
